.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 276px;
  background: #ffffff;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.1);
  padding: 24px;
  transition: transform 0.15s ease-in-out;
  &:hover {
    transform: translateY(-12px);
    .overlay {
      opacity: 1;
    }
    .bag_icon2 {
      opacity: 0;
    }
  }
}
.overlay {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
  opacity: 0;
  inset: 0;
  background-image: linear-gradient(
    -180deg,
    hsla(190, 96%, 51%, 0.8) 0%,
    hsla(196, 88%, 55%, 0.8) 100%
  );
  div {
    display: flex;
    gap: 12px;
  }
}
.cost {
  font-family: SourceSansPro-Regular;
  font-size: 36px;
  color: #ffffff;
  letter-spacing: -0.08px;
  text-align: center;
}
.button {
  background: #ffffff;
  width: 228px;
  height: 42px;
  font-family: SourceSansPro-Regular;
  font-size: 18px;
  color: #616161;
  letter-spacing: -0.04px;
  text-align: center;
  border: none;
  border-radius: 21px;
  cursor: pointer;
}
.button:disabled {
  pointer-events: none;
  opacity: 0.5;
}

.image_container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 20px;
}

.category {
  font-family: SourceSansPro-Regular;
  font-size: 16px;
  color: #a3a3a3;
  letter-spacing: -0.04px;
  text-align: left;
}
.name {
  font-family: SourceSansPro-Regular;
  font-size: 18px;
  color: #616161;
  letter-spacing: -0.04px;
  text-align: left;
}

.bag_icon {
  position: absolute;
  right: 12px;
  top: 12px;
  z-index: 10;
}

.bag_icon2 {
  @extend .bag_icon;
}
